<div class="not-found-container">
  <div class="game-over">
    <h1>GAME OVER</h1>
    <h2>PROJECT NOT FOUND!</h2>
    <p>Looks like this project took a wrong turn in the matrix...</p>
    <div class="pixel-art">
      ¯\_(ツ)_/¯
    </div>
    <p>Don't worry, you can try again!</p>
    <%= link_to "BACK TO PROJECTS", projects_path, class: "button" %>
  </div>
</div>